[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "emacs.d/git/powerline"]
	path = emacs.d/git/powerline
	url = https://github.com/milkypostman/powerline.git
