#!/bin/bash
# --------------------------------------------------------------------
# aliases
# --------------------------------------------------------------------

alias l='ls -l'
alias c='cat'
alias m='mplayer'
alias o='kde-open'

alias ls='ls --color=auto -F -h --group-directories-first -tr'
alias ll='ls -l '
alias la='ls -A'

alias dir='ls --color=auto --format=vertical'
alias vdir='ls --color=auto --format=long'

alias cp='ionice -c 3 cp -pi'
alias mv='ionice -c 3 mv -i'
alias rsync='ionice -c 3 rsync'

alias ff="firefox"
alias diff='colordiff'
alias top='htop'
alias df='df -h'
alias man='LC_ALL=C LANG=C man'
alias grep='grep --color=auto --line-buffered'
alias etags='ctags -e'
alias nano='vim'
alias open='kde-open'
alias manw="man --html=$BROWSER"
alias pgrep="pgrep -l"
alias less="less -R"
alias svndiff="svn diff --diff-cmd=colordiff|less"
alias diff="colordiff -u"
alias jar="fastjar"
alias paint="pinta"
alias mysql="mysql --safe-updates"
alias bfg="/bin/java -jar /home/chrols/bin/bfg-1.12.5.jar"
alias vi="vim"
alias myip='wget http://ipinfo.io/ip -qO -'
alias cal='gcal -s1'
alias telnet='rlwrap telnet'
alias ack=ag
alias reboot="systemctl reboot"
alias halt="systemctl halt"
alias vpn-cs-connect="sudo vpnc /etc/vpnc/cs.conf"
alias emacs="emacsclient -c"

# Functions

alias passgen="< /dev/urandom tr -cd \[:graph:\] | fold -w 32 | head -n 1"
alias git-author-ranking="git ls-tree --name-only -z -r HEAD|egrep -z -Z -E '\.(cc|h|cpp|hpp|c|txt|java)$' |xargs -0 -n1 git blame --line-porcelain|grep \"^author \"|sort|uniq -c|sort -nr"
alias vecka="python -c 'import datetime; print(datetime.date.today().isocalendar()[1])'"
alias week="python -c 'import datetime; print(datetime.date.today().isocalendar()[1])'"
