#!/bin/bash
# -*- mode: sh; coding: utf-8-unix -*-
# --------------------------------------------------------------------
# aliases
# --------------------------------------------------------------------

# Alternative programs
if command -v eza > /dev/null; then
    alias ls="eza --group-directories-first"
fi

if command -v z > /dev/null; then
    alias cd="z"
fi

if command -v nvim > /dev/null; then
    alias vi="nvim"
    alias vim="nvim"
fi

if command -v btop > /dev/null; then
    alias top='btop'
fi

alias l='ls -l'
alias c='cat'
alias m='mplayer'
alias o='xdg-open'

alias cp='ionice -c 3 cp -pi'
alias mv='ionice -c 3 mv -i'
alias rsync='ionice -c 3 rsync'

alias cal='gcal -s1'
alias crt="cool-retro-term"
alias df='df -h'
alias emacs="emacsclient -c"
alias grep='grep --color=auto --line-buffered'
alias less="less -R"
alias man='LC_ALL=C LANG=C man'
alias myip='wget http://ipinfo.io/ip -qO -'
alias open='kde-open'
alias pgrep="pgrep -l"
alias ynab="run_scaled --scale=2 wine ~/.wine/drive_c/Program\ Files/YNAB\ 4/YNAB\ 4.exe"

# Flatpaks
alias brave="flatpak run com.brave.Brave"
alias spotify="flatpak run com.spotify.Client"

# Functions
alias passgen="< /dev/urandom tr -cd \[:graph:\] | fold -w 32 | head -n 1"
alias git-author-ranking="git ls-tree --name-only -z -r HEAD|egrep -z -Z -E '\.(cc|h|cpp|hpp|c|txt|java)$' |xargs -0 -n1 git blame --line-porcelain|grep \"^author \"|sort|uniq -c|sort -nr"
alias vecka="python -c 'import datetime; print(datetime.date.today().isocalendar()[1])'"
alias week="vecka"
